.page{
    padding: 15px 20px;
}

.card{
    border-radius: 12px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 12px;
}

.block-1{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}

.block-2{
    display: flex;
    gap:20px;
    height: 124px;
    margin-bottom: 20px;
}
.block-3{
    display: flex;
    gap:20px;
    height: 124px;
    margin-bottom: 20px;
    margin-top:260px;
}

.avatar-container,
.personal-info,
.languages-info{
    height: 100%;
}

.header-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}
