.languages-info {
    width: 267px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 124px;
}

.languages-info__item p{
    font-size: 10px;
    font-weight: 500;
    line-height: 104%;
}

.languages-info__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.languages-info__progress {
    background: #fffacd;
    width: 168px;
    height: 11px;
    border-radius: 3px;
}

.languages-info__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hindi{
    width: 129px;
    margin-right: 39px;
}
